// POSIZIONAMENTO SECONDA NAVBAR

#tv-nav {
    top: 3em
}

#genres {
    font-size: 0.8em;
    padding: 0.25em;
}

// ANIMAZIONE THUMBNAIL 
.thumbnail {
    transition: transform 200ms linear 0s;
}
.thumbnail:hover {
    transform: scale(1.15);
    -webkit-box-shadow: 7px 10px 22px -5px #000000; 
    box-shadow: 7px 10px 22px -5px #000000;
}

