// MODIFICHE NAVBAR

#navbar {
    transition: background-color 0.2s linear; 
    section { 
        height: 40vh;
        video {
            width: 100%;
        }
    }
    img {
    height: 2em;
}
}

.bg-nero {
    background-color: #141414;
}
// MODIFICHE BANNER

header {
    section {
        height: 70vh;
        overflow: hidden;
        video {
            object-fit: cover;
        }
    }
}

#banner {
    background-color: rgb(0, 0, 0, 0.3);
    button {
        width: 20vw;

        i {
            font-size: 1.5em;
        }
    }
}